<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <link rel="icon" type="image/svg+xml" href={asset_url("/favicon.svg")} />
    <link rel="alternate icon" type="image/png" href={asset_url("/favicon.png")} />
    <%= live_title_tag assigns[:page_title] || "Livebook" %>
    <style> <%= raw(render("app.css")) %></style>
    <script type="text/javascript"><%= raw(render("app.css")) %></script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
